/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
}

.mySwiper {
  padding-bottom: 45px;
}

.swiper-pagination-bullet {
  background-color: #3F5D45;
}

.container {
  margin: 0px auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 375px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 575px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0px 26px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
    padding: 0px 42px;
  }
}

.container-fluid {
  width: 100%;
}

.footer_Send_to_back {
  display: flex;
  flex-direction: column;
}
.footer_Send_to_back main {
  width: 100%;
}
@media (min-width: 767px) {
  .footer_Send_to_back {
    height: 100dvh;
  }
  .footer_Send_to_back > footer {
    margin-top: auto;
  }
}

.bg_primary {
  background-color: #3F5D45;
}

.bg_secondary {
  background-color: #EAF0ED;
}

.cardItem {
  position: relative;
}
.cardItem > .card_header > img {
  width: 100%;
  height: 312px;
  -o-object-fit: fill;
     object-fit: fill;
}
.cardItem > .card_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardItem > .card_body > p {
  padding: 16px 0px;
  text-align: center;
  color: #3F5D45;
}
.cardItem > .card_body > p:first-child {
  width: 57.5%;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
}
.cardItem > .card_body > p:last-child {
  width: 42.5%;
  font-weight: 600;
  border-right: 1px solid #EAF0ED;
}
.cardItem > .card_footer > button {
  width: 100%;
  border: none;
  display: block;
  text-align: center;
  padding: 16px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
  background-color: #EAF0ED;
}
.cardItem > .card_footer > button:hover {
  cursor: pointer;
  background-color: #3F5D45;
  color: #EAF0ED;
}
@media (min-width: 767px) {
  .cardItem > .card_header > img {
    height: 315px;
  }
}

.card_special {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card_special > p {
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  writing-mode: vertical-rl;
  letter-spacing: 5px;
  color: #EAF0ED;
  background-color: #3F5D45;
}
.card_special > button {
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
  border: none;
}
.card_special p:hover {
  cursor: default;
}

.timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.timeline__item {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #EAF0ED;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: calc((100% - 48px) / 2);
  background-color: #EAF0ED;
  height: 2px;
}

.timeline:after {
  width: calc((100% - 48px) / 2);
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: #EAF0ED;
  height: 2px;
}

.doingState {
  width: 12px;
  height: 12px;
  background-color: #EAF0ED;
  border-radius: 50%;
}

.finishState:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-right: 1px solid #3F5D45;
  border-bottom: 1px solid #3F5D45;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
}

.payfinish:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-right: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
}

.settle:before {
  background-color: #3F5D45;
}

.settle:after {
  background-color: #3F5D45;
}

.transport_formContent {
  width: 100%;
  background-color: #3F5D45;
}
@media (min-width: 767px) {
  .transport_formContent {
    width: 50%;
  }
}

.formContent_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px;
}
.formContent_title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #EAF0ED;
}
@media (min-width: 767px) {
  .formContent_title {
    padding: 30px 40px 0px;
  }
}

.transportForm {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 30px;
}
.transportForm__userName {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.transportForm__userName__LastName, .transportForm__userName__FirstName {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.transportForm__userName__LastName > input[type=text], .transportForm__userName__FirstName > input[type=text] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
.transportForm__userName__LastName > label, .transportForm__userName__FirstName > label {
  color: #EAF0ED;
  font-size: 20px;
  margin-bottom: 8px;
}
.transportForm__phone > label {
  display: block;
  margin-bottom: 8px;
  color: #EAF0ED;
  font-size: 20px;
}
.transportForm__phone > input[type=tel] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
.transportForm__address {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.transportForm__address > label {
  width: 100%;
  color: #EAF0ED;
  font-size: 20px;
}
.transportForm__address > input[type=text] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
@media (min-width: 767px) {
  .transportForm {
    padding: 30px 40px;
  }
}

.transportForm__address__select {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.transportForm__address__select .areabox, .transportForm__address__select .citybox {
  width: 100%;
  position: relative;
}
.transportForm__address__select .areabox .city, .transportForm__address__select .areabox .area, .transportForm__address__select .citybox .city, .transportForm__address__select .citybox .area {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
.transportForm__address__select .citybox:after,
.transportForm__address__select .areabox:after {
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid;
  position: absolute;
  pointer-events: none;
  top: 10px;
  right: 20px;
  border-color: transparent transparent #3F5D45 transparent;
}
.transportForm__address__select .citybox::before,
.transportForm__address__select .areabox::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid;
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  border-color: #3F5D45 transparent transparent transparent;
}

.transportForm_button {
  width: 100%;
  padding: 20px 0px;
  font-size: 24px;
  font-weight: 600;
  border: none;
  background-color: #FFE180;
  color: #3F5D45;
  cursor: pointer;
}

.transportForm_button:hover {
  background-color: #edc442;
}

.statement {
  display: none;
}
@media (min-width: 767px) {
  .statement {
    width: 33%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.statement__amount {
  border: 1px solid #EAF0ED;
}
.statement__amount > h2 {
  padding: 16px 0px;
  font-size: 24px;
  font-weight: 600;
  background-color: #EAF0ED;
  color: #8DA291;
  text-align: center;
}
.statement__amount > ul {
  padding: 16px 20px;
}
.statement__amount > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8DA291;
}
.statement__amount > ul > li:nth-child(2) {
  margin: 8px 0px 16px;
}
.statement__amount > ul > li:last-child {
  font-size: 20px;
  font-weight: 600;
}
.statement__item {
  border: 1px solid #EAF0ED;
}
.statement__item > h2 {
  padding: 16px 0px;
  font-size: 24px;
  font-weight: 600;
  background-color: #EAF0ED;
  color: #8DA291;
  text-align: center;
}

.statementList {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 992px) {
  .statementList {
    padding: 20px;
  }
}

.statementListItem {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.statementListItem__header {
  width: 40%;
}
.statementListItem__header > img {
  height: 80px;
  width: 100%;
}
.statementListItem__body {
  width: 60%;
  color: #3F5D45;
}
.statementListItem__body > .detail_name {
  font-size: 14px;
  font-weight: 300;
}
.statementListItem__body > .detail_price {
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 992px) {
  .statementListItem {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .statementListItem__body {
    width: 60%;
  }
  .statementListItem__body > .detail_name {
    font-size: 16px;
  }
  .statementListItem__body > .detail_price {
    font-size: 20px;
  }
}

.payment_formContent {
  width: 100%;
  background-color: #3F5D45;
}
.payment_formContent__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px;
}
.payment_formContent__title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #EAF0ED;
}
@media (min-width: 767px) {
  .payment_formContent {
    width: 50%;
  }
  .payment_formContent__title {
    padding: 30px 40px 0px;
  }
}

.paymentForm {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  row-gap: 16px;
  padding: 30px;
}
.paymentForm__card {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 8px;
}
.paymentForm__card > label {
  color: #EAF0ED;
  font-size: 20px;
}
.paymentForm__card > input[type=text] {
  border-radius: 0px;
  padding: 16px 20px;
  background-color: #EAF0ED;
  color: #3F5D45;
  border: none;
}
.paymentForm__card > .cardNumIcon {
  position: absolute;
  display: inline-block;
  top: 60%;
  right: 20px;
  color: #3F5D45;
}
.paymentForm__userName {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.paymentForm__userName__LastName, .paymentForm__userName__FirstName {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.paymentForm__userName__LastName > input[type=text], .paymentForm__userName__FirstName > input[type=text] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
.paymentForm__userName__LastName > label, .paymentForm__userName__FirstName > label {
  color: #EAF0ED;
  font-size: 20px;
  margin-bottom: 8px;
}
.paymentForm__userName__FirstName {
  align-self: end;
}
.paymentForm__deadline {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.paymentForm__deadline > label {
  width: 100%;
  color: #EAF0ED;
  font-size: 20px;
}
.paymentForm__deadline__select {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.paymentForm__deadline__select .monthbox, .paymentForm__deadline__select .yearbox {
  width: 100%;
  position: relative;
}
.paymentForm__deadline__select .monthbox .month, .paymentForm__deadline__select .monthbox .year, .paymentForm__deadline__select .yearbox .month, .paymentForm__deadline__select .yearbox .year {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
.paymentForm__deadline__select .monthbox:after,
.paymentForm__deadline__select .yearbox:after {
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid;
  position: absolute;
  pointer-events: none;
  top: 10px;
  right: 20px;
  border-color: transparent transparent #3F5D45 transparent;
}
.paymentForm__deadline__select .monthbox::before,
.paymentForm__deadline__select .yearbox::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid;
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  border-color: #3F5D45 transparent transparent transparent;
}
.paymentForm__security {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.paymentForm__security > label {
  color: #EAF0ED;
  font-size: 20px;
}
.paymentForm__security > input[type=text] {
  width: calc(50% - 8px);
  padding: 16px;
  border: none;
  border-radius: 0px;
  background-color: #EAF0ED;
}
@media (min-width: 767px) {
  .paymentForm {
    padding: 30px 40px;
  }
}

.payment_button {
  width: 100%;
  padding: 20px 0px;
  font-size: 24px;
  font-weight: 600;
  border: none;
  background-color: #FFE180;
  color: #3F5D45;
  cursor: pointer;
}

.payment_button:hover {
  background-color: #edc442;
}

.invoice_form {
  width: 100%;
  background-color: #3F5D45;
}
@media (min-width: 767px) {
  .invoice_form {
    width: 50%;
  }
}

.invoice_form_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px;
}
.invoice_form_title h2 {
  font-size: 36px;
  font-weight: 600;
  color: #EAF0ED;
}
@media (min-width: 767px) {
  .invoice_form_title {
    padding: 30px 40px 0px;
  }
}

.invoiceForm {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 30px;
}
.invoiceForm__type {
  display: flex;
  min-height: 100%;
  align-items: center;
  -moz-column-gap: 1px;
       column-gap: 1px;
  margin-bottom: 14px;
  border: 1px solid #EAF0ED;
}
.invoiceForm__type > button {
  width: 50%;
  height: 100%;
  font-weight: 600;
  border: none;
  color: #EAF0ED;
  background-color: #3F5D45;
  font-size: 20px;
  padding: 14px 0px;
  cursor: pointer;
}
.invoiceForm .invoiceForm__uniform > label {
  display: block;
  margin-bottom: 8px;
  color: #EAF0ED;
  font-size: 20px;
  font-weight: 600;
}
.invoiceForm .invoiceForm__uniform > input[type=number] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  -moz-appearance: textfield;
  border: none;
  border-radius: 0px;
}
.invoiceForm .invoiceForm__uniform > input::-webkit-outer-spin-button,
.invoiceForm .invoiceForm__uniform > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
@media (min-width: 767px) {
  .invoiceForm {
    padding: 30px 40px;
  }
}

.ectShow {
  display: none;
}
.ectShow .invoiceForm__email {
  margin-bottom: 16px;
}
.ectShow .invoiceForm__email > label {
  display: block;
  margin-bottom: 8px;
  color: #EAF0ED;
  font-size: 20px;
  font-weight: 600;
}
.ectShow .invoiceForm__email > input[type=email] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}

.paperShow {
  display: none;
}

.invoiceForm__address {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 16px;
}
.invoiceForm__address__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoiceForm__address__title > label:first-child {
  color: #EAF0ED;
  font-size: 20px;
  font-weight: 600;
}
.invoiceForm__address__title > input[type=checkbox] {
  margin-left: auto;
}
.invoiceForm__address__title > label:last-child {
  color: #EAF0ED;
  font-size: 16px;
}
.invoiceForm__address__select {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.invoiceForm__address__select > .areabox, .invoiceForm__address__select .citybox {
  width: 100%;
  position: relative;
}
.invoiceForm__address__select > .areabox .city, .invoiceForm__address__select > .areabox .area, .invoiceForm__address__select .citybox .city, .invoiceForm__address__select .citybox .area {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}
.invoiceForm__address__select .citybox:after,
.invoiceForm__address__select .areabox:after {
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid;
  position: absolute;
  pointer-events: none;
  top: 10px;
  right: 20px;
  border-color: transparent transparent #3F5D45 transparent;
}
.invoiceForm__address__select .citybox::before,
.invoiceForm__address__select .areabox::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid;
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  border-color: #3F5D45 transparent transparent transparent;
}
.invoiceForm__address > input[type=text] {
  width: 100%;
  padding: 16px;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  border-radius: 0px;
}

.invoiceForm_button {
  width: 100%;
  padding: 20px 0px;
  font-size: 24px;
  font-weight: 600;
  border: none;
  background-color: #FFE180;
  color: #3F5D45;
  cursor: pointer;
}

.invoiceForm_button:hover {
  background-color: #edc442;
}

.btn_handle {
  background-color: #EAF0ED !important;
  color: #3F5D45 !important;
}

.header_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__title > a {
  display: inline-block;
  width: 100%;
}
.header__title > a > img {
  width: 100%;
  height: 24px;
}
@media (min-width: 767px) {
  .header__title > a > img {
    content: url("https://raw.githubusercontent.com/AbsintheSung/rocket_week3/96794343cf7abdbfe19f7bbd3698a5e7cd0077c3/assets/img/logo-all-dark.svg");
    height: 40px;
  }
}

#navbarBtn {
  display: none;
}

#navbarBtn:checked ~ .header_nav {
  transform: translateY(0px);
}

.navbarStyle {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.navbarStyle__line {
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: #3F5D45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.navbarStyle__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3F5D45;
  top: 4px;
}
.navbarStyle__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3F5D45;
  top: -4px;
}
@media (min-width: 767px) {
  .navbarStyle {
    display: none;
  }
}

.header_nav {
  position: absolute;
  top: 100%;
  width: calc(100% - 60px);
  background-color: #EAF0ED;
  padding: 12px 0px;
}
@media (min-width: 767px) {
  .header_nav {
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFFFFF;
    margin-left: auto;
    padding: 0px;
    top: 0px;
  }
}

.header_navlist > li:hover {
  background-color: #3F5D45;
}
.header_navlist > li:hover > a {
  width: 100%;
  color: #EAF0ED;
}
.header_navlist > li {
  padding: 0px 12px;
}
.header_navlist > li > a {
  display: inline-block;
  font-weight: 600;
  color: #3F5D45;
}
.header_navlist > li:nth-child(2) {
  margin: 12px 0px;
}
@media (min-width: 767px) {
  .header_navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    gap: 60px;
  }
  .header_navlist > li {
    padding: 0px;
  }
  .header_navlist > li:nth-child(2) {
    margin: 0px;
  }
  .header_navlist > li:hover {
    background-color: #FFFFFF;
  }
  .header_navlist > li:hover > a {
    color: #3F5D45;
    border-bottom: 1px solid #3F5D45;
  }
}

.header_container > a {
  z-index: 3;
}
.header_container > .navbarStyle {
  z-index: 3;
}
.header_container .header__title {
  z-index: 3;
}

.header_nav {
  transition: 0.5s;
  transform: translateY(-200px);
  z-index: 1;
}
@media (min-width: 767px) {
  .header_nav {
    transition: 0s;
    transform: translateY(0px);
    z-index: 2;
  }
}

.nav_board {
  position: absolute;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #FFFFFF;
  z-index: 2;
}
@media (min-width: 767px) {
  .nav_board {
    display: none;
  }
}

.footer_subscribe {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_subscribe__title {
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}
.footer_subscribe__title > img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.footer_subscribe .footer_form {
  display: flex;
  position: relative;
}
.footer_subscribe .footer_form__imgbox {
  position: absolute;
  left: 20px;
  top: 16px;
}
.footer_subscribe .footer_form__input {
  width: 100%;
  font-weight: 600;
  margin-left: auto;
  flex: 1;
  border: none;
  border-radius: 0px;
  padding: 16px 0px;
  padding-left: 50px;
  color: #3F5D45;
}
.footer_subscribe .footer_form__input:focus {
  outline: none;
}
.footer_subscribe .footer_form__button {
  margin-left: auto;
  border: none;
  padding: 16px 20px;
  background-color: #FFE180;
}
.footer_subscribe .footer_form__button:hover {
  cursor: pointer;
  background-color: #edc442;
}
@media (min-width: 767px) {
  .footer_subscribe {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }
  .footer_subscribe > .footer_form {
    width: 42%;
  }
}

.footer_info_logo {
  height: 26.6px;
}

.footer_icon {
  width: 32px;
  height: 32px;
}

.footer_info {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  color: #3F5D45;
}
.footer_info__list {
  display: flex;
  flex-direction: column;
}
.footer_info__list > li:first-child {
  margin-bottom: 40px;
}
.footer_info__list > li {
  color: #3F5D45;
  font-weight: 500;
}
.footer_info__slogan {
  display: none;
}
.footer_info__copyright {
  width: 100%;
  margin-top: 30px;
}
.footer_info__copyright > ul {
  display: flex;
  margin-bottom: 23px;
}
.footer_info__copyright > ul > li:first-child {
  margin-right: 8px;
}
@media (min-width: 767px) {
  .footer_info {
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
  }
  .footer_info__list > li:nth-child(2) {
    margin-top: auto;
  }
  .footer_info__slogan {
    display: block;
  }
  .footer_info__slogan > img {
    width: 59px;
  }
  .footer_info__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_info__copyright > ul {
    margin-bottom: 0px;
  }
}

.home_category {
  margin-bottom: 30px;
}
.home_category__bg {
  background: url("https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=2725&q=80");
  padding-top: 277px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home_category__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
.home_category__list > li {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home_category__list > li > a {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  letter-spacing: 5px;
  writing-mode: vertical-rl;
  background-color: rgba(63, 93, 69, 0.8);
  color: #FFFFFF;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.home_category__list > li:first-child {
  background-image: url("https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=600&q=60");
}
.home_category__list > li:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=600&q=60");
}
.home_category__list > li:last-child {
  background-image: url("https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=600&q=60");
}
.home_category__list > li:hover > a {
  background-color: rgba(255, 225, 128, 0.8);
  color: #3F5D45;
}
@media (min-width: 767px) {
  .home_category {
    margin-bottom: 80px;
  }
  .home_category__bg {
    padding-top: 496px;
  }
  .home_category__list {
    padding: 0px 80px;
  }
  .home_category__list > li {
    margin-top: -90px;
  }
  .home_category__list > li > a {
    padding: 62px 0px;
    font-size: 24px;
  }
}

.home_introduce > ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.home_introduce > img {
  width: 100%;
  margin: 30px auto;
  height: 60px;
}
@media (min-width: 767px) {
  .home_introduce > ul {
    row-gap: 80px;
  }
  .home_introduce > img {
    content: url("https://raw.githubusercontent.com/AbsintheSung/rocket_week3/96794343cf7abdbfe19f7bbd3698a5e7cd0077c3/assets/img/home_ds_title3.svg");
    height: 328px;
    margin: 95px auto 80px auto;
  }
}

@media (min-width: 767px) {
  .home_introduceItem {
    background-color: #EAF0ED;
  }
}

.introduce__listItem {
  display: flex;
  flex-direction: column;
}
.introduce__listItem__header {
  background-color: #FFFFFF;
}
.introduce__listItem__header > img:first-child {
  height: 60px;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 30px;
}
.introduce__listItem__header > img:last-child {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduce__listItem__content {
  padding: 30px;
  background-color: #EAF0ED;
  color: #8DA291;
}
.introduce__listItem__content > img {
  display: none;
}
@media (min-width: 767px) {
  .introduce__listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 420px;
  }
  .introduce__listItem__header {
    width: 50%;
  }
  .introduce__listItem__header > img:first-child {
    display: none;
  }
  .introduce__listItem__header > img:last-child {
    height: 460px;
  }
  .introduce__listItem__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    width: 50%;
    max-height: 280px;
    writing-mode: vertical-rl;
  }
  .introduce__listItem__content > img {
    display: block;
    height: 307px;
    margin-top: -85px;
    align-self: start;
    flex: 1;
  }
  .introduce__listItem__content > p {
    flex: 1;
  }
}

@media (min-width: 767px) {
  .home_introduceItem:nth-child(even) > .introduce__listItem {
    flex-direction: row-reverse;
  }
}

.home_cardInfo {
  padding-bottom: 15px;
}
.product_main .product_body {
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.product_main .product_body .product_cardList {
  padding: 30px;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}
.product_main .product_body .product_cardList li:nth-child(n+4) {
  display: none;
}
@media (min-width: 575px) {
  .product_main .product_body .product_cardList {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .product_main .product_body .product_cardList li:nth-child(n+4) {
    display: inline-block;
  }
}
@media (min-width: 767px) {
  .product_main .product_body .product_cardList {
    padding: 0px;
  }
}
@media (min-width: 767px) {
  .product_main .product_body {
    padding: 60px 30px 30px 30px;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
  }
}
@media (min-width: 992px) {
  .product_main .product_body {
    padding: 60px 26px 30px 26px;
  }
}
@media (min-width: 1200px) {
  .product_main .product_body {
    padding: 60px 42px 30px 42px;
  }
}

.product_header {
  padding: 0px;
}
@media (min-width: 767px) {
  .product_header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .product_header {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1200px) {
  .product_header {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.product_header_bg {
  background-image: url("https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=800&q=60");
  height: 277px;
  width: 100%;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}
.product_header_bg > img {
  height: 218px;
}
@media (min-width: 767px) {
  .product_header_bg {
    height: 496px;
    padding: 40px 40px 128px 40px;
  }
  .product_header_bg > img {
    height: 327px;
    margin-left: auto;
  }
}

.product_aside > h2 {
  text-align: center;
  font-size: 24px;
  padding: 16px 0px;
  color: #FFFFFF;
  font-weight: 600;
  background-color: #3F5D45;
}
.product_aside__list {
  display: flex;
  flex-direction: column;
}
.product_aside__list > li {
  border: 1px solid #EAF0ED;
}
.product_aside__list > li > a {
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
  display: block;
  padding: 16px 0px;
  text-align: center;
}
.product_aside__list li:not(:first-child) {
  border-top: none;
}
.product_aside__list li:hover {
  background-color: #EAF0ED;
}
@media (min-width: 767px) {
  .product_aside__list > li > a {
    text-align: center;
  }
}

.product_footer {
  padding-bottom: 30px;
}
@media (min-width: 767px) {
  .product_footer {
    padding-bottom: 60px;
  }
}

.product_pagesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_pagesBtn > li {
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
}
.product_pagesBtn > li > a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #3F5D45;
}
.product_pagesBtn > li:not(:first-child) {
  border-left: none;
}
.product_pagesBtn > li:hover > a {
  color: #FFFFFF;
  background-color: #3F5D45;
}
.product_pagesBtn li:first-child:hover > a,
.product_pagesBtn li:last-child:hover > a {
  background-color: #EAF0ED;
}
@media (min-width: 575px) {
  .product_pagesBtn {
    justify-content: end;
  }
}

.present_page {
  background-color: #3F5D45;
}
.present_page > a {
  color: #EAF0ED !important;
}

.login_container {
  padding-left: 0px;
  padding-right: 0px;
}
.login_container .desk_link {
  display: none;
}
.login_container .desk_link__view {
  background-color: #EAF0ED;
}
@media (min-width: 575px) {
  .login_container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .login_container > .login_view {
    width: 42%;
  }
  .login_container > .login_view > .pad_linkview {
    display: none;
  }
  .login_container > .login_view > .login_title {
    padding-bottom: 10px;
  }
  .login_container .desk_link {
    width: 42%;
    display: inline-block;
    padding: 15px 0px 15px 0px;
  }
}

.login_title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FFFFFF;
  background-color: #3F5D45;
}

.pad_linkview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #EAF0ED;
}
.pad_linkview > li {
  padding: 16px;
  background-color: #FFFFFF;
}
.pad_linkview > li > a {
  display: inline-block;
}
.pad_linkview > li > a > img {
  width: 100%;
  height: 56px;
}

.login_form {
  background-color: #3F5D45;
}
.login_form .login_formInfo {
  padding: 30px;
}
.login_form .login_formInfo__account {
  position: relative;
  margin-bottom: 16px;
}
.login_form .login_formInfo__account > input {
  width: 100%;
  padding: 16px 40px;
  font-weight: 600;
  background-color: #EAF0ED;
  border-radius: 0px;
  color: #3F5D45;
}
.login_form .login_formInfo__account > span {
  position: absolute;
  left: 12px;
  top: 0;
  color: #3F5D45;
  transform: translateY(50%);
}
.login_form .login_formInfo__password {
  position: relative;
  margin-bottom: 16px;
}
.login_form .login_formInfo__password > input {
  width: 100%;
  font-weight: 600;
  padding: 16px 40px;
  background-color: #EAF0ED;
  border-radius: 0px;
  color: #3F5D45;
}
.login_form .login_formInfo__password > span {
  position: absolute;
  left: 12px;
  top: 0;
  color: #3F5D45;
  transform: translateY(50%);
}
.login_form .login_formInfo__checkbox {
  display: flex;
  align-items: center;
}
.login_form .login_formInfo__checkbox > input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.login_form .login_formInfo__checkbox > label {
  color: #FFFFFF;
  font-weight: 600;
}
.login_form > button {
  border: none;
  width: 100%;
  text-align: center;
  padding: 16px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
  background-color: #FFE180;
}
.login_form > button:hover {
  background-color: #edc442;
  cursor: pointer;
}

.desk_link__view {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
}
.desk_link__view > h2 {
  color: #8DA291;
  font-size: 16px;
  text-align: center;
  padding-top: 40px;
}
.desk_link__list {
  margin-top: 36px;
}
.desk_link__list > li {
  background-color: #FFFFFF;
  margin-bottom: 16px;
}
.desk_link__list > li > a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px 0px;
}
.desk_link__list > li > a img {
  height: 20px;
}
.desk_link__list > li:hover > a {
  background-color: #FFE180;
}
@media (min-width: 767px) {
  .desk_link__view > h2 {
    font-size: 24px;
  }
}

.cart_main {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.cart_main .cart_item {
  width: 100%;
}
.cart_main .cart_item > .cart_title {
  padding: 16px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
  text-align: center;
  background-color: #EAF0ED;
}
.cart_main .cart_item > .cartList {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.cart_main .cart_detail {
  width: 100%;
}
@media (min-width: 767px) {
  .cart_main {
    padding: 30px;
  }
}
@media (min-width: 992px) {
  .cart_main {
    padding-left: 26px;
    padding-right: 26px;
    -moz-column-gap: 1%;
         column-gap: 1%;
  }
  .cart_main .cart_item {
    width: 66%;
  }
  .cart_main .cart_item > .cartList {
    padding: 30px 0px;
    row-gap: 20px;
  }
  .cart_main .cart_detail {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .cart_main {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.cartListItem {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 8.5px;
}
.cartListItem__header {
  width: 100px;
  height: 106px;
}
.cartListItem__header > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cartListItem__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cartListItem__body__text {
  color: #3F5D45;
}
.cartListItem__body__text > p:first-child {
  font-size: 20px;
}
.cartListItem__body__text > p:last-child {
  font-size: 16px;
}
.cartListItem__body__btn {
  margin-top: auto;
  display: flex;
}
.cartListItem__body__btn * {
  width: 48px;
  height: 48px;
}
.cartListItem__body__btn > button {
  background-color: transparent;
  border: 1px solid #EAF0ED;
  color: #3F5D45;
}
.cartListItem__body__btn > button:hover {
  cursor: pointer;
  color: #EAF0ED;
  background-color: #3F5D45;
}
.cartListItem__body__btn > p {
  border-top: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartListItem__footer {
  width: 100%;
  padding: 8.5px 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-top: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
}
.cartListItem__footer > p {
  font-size: 20px;
  font-weight: 600;
  color: #3F5D45;
}
.cartListItem__footer > button {
  display: none;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cartListItem__footer > button > span {
  color: #3F5D45;
}
.cartListItem__footer > button:hover > span {
  color: red;
}
@media (min-width: 767px) {
  .cartListItem {
    flex-wrap: nowrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAF0ED;
  }
  .cartListItem__header {
    width: 110px;
    height: 100px;
  }
  .cartListItem__body {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .cartListItem__body__btn {
    margin-top: 0px;
  }
  .cartListItem__footer {
    border: none;
    width: -moz-fit-content;
    width: fit-content;
  }
  .cartListItem__footer > button {
    display: flex;
  }
}

.cart_detail__content {
  padding: 0px 30px 30px 30px;
}
.cart_detail__content h2 {
  padding: 16px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
  background-color: #EAF0ED;
  text-align: center;
}
.cart_detail button {
  padding: 16px 0px;
  display: block;
  width: 100%;
  border: transparent;
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
  background-color: #FFE180;
  cursor: pointer;
}
.cart_detail button:hover {
  cursor: pointer;
  background-color: #edc442;
}
@media (min-width: 992px) {
  .cart_detail__content {
    padding: 0px 20px 16px 20px;
    background-color: #3F5D45;
  }
  .cart_detail__content h2 {
    background-color: #3F5D45;
    color: #EAF0ED;
  }
}

.detailList {
  padding: 16px 0px;
}
.detailList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3F5D45;
  font-weight: 300;
}
.detailList__item:nth-child(2) {
  padding: 8px 0px 16px;
}
.detailList__item:last-child {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 992px) {
  .detailList {
    border-top: 1px solid #EAF0ED;
  }
  .detailList__item {
    color: #EAF0ED;
  }
}

.transport_container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px;
}
@media (min-width: 767px) {
  .transport_container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
@media (min-width: 992px) {
  .transport_container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1200px) {
  .transport_container {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.payment_container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px;
}
@media (min-width: 767px) {
  .payment_container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
@media (min-width: 992px) {
  .payment_container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1200px) {
  .payment_container {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.invoice_container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px;
}
.invoice_container .invoice_form-etc {
  width: 100%;
  background-color: #3F5D45;
}
@media (min-width: 767px) {
  .invoice_container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .invoice_container .invoice_form-etc {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .invoice_container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1200px) {
  .invoice_container {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.success_container {
  padding: 0px;
}
@media (min-width: 767px) {
  .success_container {
    padding: 30px;
  }
}
@media (min-width: 992px) {
  .success_container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1200px) {
  .success_container {
    padding-left: 42px;
    padding-right: 42px;
  }
}

.success_main {
  width: 100%;
  height: 518px;
  padding-top: 210px;
  background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c5a2cf31c693f5c15fb08135bf1adf2&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}
.success_main .timeline_box > ul {
  width: 200px;
}
.success_main__title {
  height: 45px;
  width: 190px;
}
@media (min-width: 767px) {
  .success_main {
    padding-top: 130px;
    height: 460px;
  }
}

.success_btn {
  display: block;
  width: 100%;
  padding: 20px 0px;
  font-size: 24px;
  font-weight: 600;
  margin-top: auto;
  background-color: #FFE180;
  color: #3F5D45;
  text-align: center;
}
@media (min-width: 575px) {
  .success_btn {
    width: 300px;
    margin-top: 0px;
  }
}

.success_btn:hover {
  background-color: #edc442;
}/*# sourceMappingURL=all.css.map */