/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0px auto;
}
@media (min-width: 375px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 575px) {
  .container {
    max-width: 575px;
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
.container-fluid {
  width: 100%;
}

.px-sm-30 {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 767px) {
  .px-sm-30 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg_primary {
  background-color: #3F5D45;
}

.bg_secondary {
  background-color: #EAF0ED;
}

.header_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title > a {
  display: inline-block;
  width: 100%;
}
.header__title > a > img {
  width: 100%;
  height: 24px;
}
@media (min-width: 767px) {
  .header__title > a > img {
    content: url("../../assets/img/logo-all-dark.svg");
    height: 40px;
  }
}

#navbarBtn {
  display: none;
}

#navbarBtn:checked ~ .header_nav {
  display: block;
  z-index: 1;
}

.navbarStyle {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.navbarStyle__line {
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: #3F5D45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.navbarStyle__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3F5D45;
  top: 4px;
}
.navbarStyle__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3F5D45;
  top: -4px;
}
@media (min-width: 767px) {
  .navbarStyle {
    display: none;
  }
}

.header_nav {
  transition: 0.7s;
  display: none;
  position: absolute;
  top: 100%;
  width: calc(100% - 60px);
  background-color: #EAF0ED;
  padding: 12px 0px;
}
.header_nav .header_navlist__item a {
  display: inline-block;
  font-weight: 600;
  color: #3F5D45;
}
.header_nav .header_navlist__item:nth-child(2) {
  margin: 12px 0px;
}
@media (min-width: 767px) {
  .header_nav {
    position: relative;
    display: block;
    z-index: 0;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #FFFFFF;
    margin-left: auto;
    padding: 0px;
  }
  .header_nav > .header_navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .header_nav .header_navlist__item:last-child > a {
    margin-right: 80px;
  }
  .header_nav .header_navlist__item:nth-child(2) {
    margin: 0px;
  }
}

.footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_subscribe__title {
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}
.footer_subscribe__title > img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.footer_subscribe .footer_form {
  display: flex;
  position: relative;
}
.footer_subscribe .footer_form__imgbox {
  position: absolute;
  left: 20px;
  top: 16px;
  transform: translateY(-15%);
}
.footer_subscribe .footer_form__input {
  width: 100%;
  border: none;
  padding: 16px 0px;
  padding-left: 50px;
}
.footer_subscribe .footer_form__input:focus {
  outline: none;
}
.footer_subscribe .footer_form__button {
  border: none;
  padding: 16px 20px;
  background-color: #FFE180;
}
.footer_subscribe .footer_form__button:hover {
  cursor: pointer;
}
@media (min-width: 767px) {
  .footer_subscribe {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }
  .footer_subscribe > .footer_form {
    width: 42%;
  }
}

.footer_info_logo {
  height: 26.6px;
}

.footer_icon {
  width: 32px;
  height: 32px;
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  color: #3F5D45;
}
.footer_info__list {
  display: flex;
  flex-direction: column;
}
.footer_info__list li:first-child {
  margin-bottom: 40px;
}
.footer_info__list li {
  font-weight: 500;
}
.footer_info__slogan {
  display: none;
}
.footer_info__copyright {
  width: 100%;
  margin-top: 30px;
}
.footer_info__copyright > ul {
  display: flex;
  margin-bottom: 23px;
}
.footer_info__copyright > ul > li:first-child {
  margin-right: 8px;
}
@media (min-width: 767px) {
  .footer_info {
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
  }
  .footer_info__list > li:nth-child(2) {
    margin-top: auto;
  }
  .footer_info__slogan {
    display: block;
  }
  .footer_info__slogan > img {
    width: 59px;
  }
  .footer_info__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_info__copyright > ul {
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=all.css.map */