
// footer 上半部
.footer_subscribe{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    &__title{
        align-self: center;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        color:$white;
        >img{
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
    }
    .footer_form{
        display: flex;
        position: relative;
       
        &__imgbox{
            position: absolute;
            left: 20px;
            top: 16px;
            transform: translateY(-15%);
        }
        &__input{
            width: 100%;
            border: none;
            border-radius: 0px;
            outline: none;
            padding: 16px 0px;
            padding-left: 50px;
            color:$primary
        }
        &__input:focus{
            outline: none;
        }
        &__button{
            border:none;
            padding: 16px 20px;
            background-color: $btn_color;
        }
        &__button:hover{
            cursor: pointer;
        }
    }
    @include Medium{
        flex-direction: row;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;
        // >.footer_title{
        //     width: 33%;
        //     // margin-right: 62px
        // };
        &__title{
            // width: 33%;
            // width: 42%;
        }
        >.footer_form{
            width: 42%;
            // margin-left: 62px
        }
    }
}


// footer 下半部
.footer_info_logo{
    height: 26.6px;
}
.footer_icon{
    width: 32px;
    height: 32px;
}
.footer_info{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    color:$primary;
    &__list{
       display: flex;
       flex-direction: column;
       li:first-child{
        margin-bottom: 40px;
       }
       li{
        color: $primary;
        font-weight: 500;
       }
    }
    &__slogan{
        display: none;
        
        // >p{
        //     font-size: 24px;
        //     font-weight: bold;
        //     color:var(--primary)
        // }
        // >p:last-child{
        //     padding-top: 10px;
        // }
    }
    &__copyright{
        width: 100%;
        margin-top: 30px;
        >ul{
            display: flex;
            margin-bottom: 23px;
            >li:first-child{
                margin-right: 8px;
            }
        }

    }
    @include Medium{
        padding-left: 80px;
        padding-right: 80px;
        justify-content:space-between;
        &__list{
            >li:nth-child(2){
                margin-top: auto;
            }
        }
        &__slogan{
            
            // display: flex;
            // flex-direction: column;
            // -webkit-writing-mode: vertical-rl;
            // writing-mode: vertical-rl;
            // letter-spacing: 5px; /* 設置 5px 間距 */
            display: block;
            >img{
                width: 59px;
            }

        }
        &__copyright{
            display: flex;
            justify-content: space-between;
            align-items: center;
            >ul{
                margin-bottom: 0px;
            }
        }
    }
}
