.header_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    // background-color: $white;
    // z-index: 2;
    >a{
        z-index: 3;
    }
    >.navbarStyle{
        z-index: 3;
    }
    .header__title{
        z-index: 3;
    }
    @include Medium{
        >a:hover{
            transform: scale(1.1);
        }
    }
}

.header__title{
    >a{
        >img{
            width: 100%;
            height: 24px;
            @include Medium{
                // content: url("../../assets/img/logo-all-dark.svg");
                content: url('https://raw.githubusercontent.com/AbsintheSung/rocket_week3/96794343cf7abdbfe19f7bbd3698a5e7cd0077c3/assets/img/logo-all-dark.svg');
                height: 40px;
            }
        }
        display: inline-block;
        width: 100%;
    }
}

#navbarBtn{
    display: none;
   
}
#navbarBtn:checked ~.header_nav {
    // display: block;
    // opacity: 1;
    transform: translateY(0px);
    // z-index: 0;

}
.navbarStyle{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    &__line{
        position: absolute;
        width: 75%;
        height: 2px;
        background-color: $primary;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    &__line::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $primary;
        top: 4px;
    }
    &__line::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $primary;
        top:-4px;
    }
    @include Medium{
        display: none;
    }
}



.header_nav{
    // display: none;
    transition: .5s;
    transform: translateY(-200px);
    position: absolute;
    top:100%;
    width: calc(100% - 60px);
    z-index: 1;
    // opacity: 0;
    background-color: $secondary;
    padding: 12px 0px;
    .header_navlist__item{
        a{
            display: inline-block;
            font-weight: 600;
            color:$primary;
        }
    }
    .header_navlist__item:nth-child(2){
        margin: 12px 0px;
    }


    @include Medium{
        transition: 0s;
        transform: translateY(0px);
        z-index: 2;

        position: relative;
        display: block;
 
        width: fit-content; //寬度 自適應內容
        background-color:$white;
        margin-left: auto;
        padding:0px;
        top:0px;
        .header_navlist{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            &__item{
                a:hover{
                    border-bottom: 2px solid $primary;
                }
            }
        }
        .header_navlist__item:last-child{
            > a {
                margin-right: 80px;
            }
        }
        .header_navlist__item:nth-child(2){
            margin: 0px;
        }
    }
}




.nav_board{
    position: absolute;
    top:0;
    width: calc( 100% - 60px );
    height: 80%;
    background-color: $white;
    z-index: 2;
    @include Medium{
        display: none;
    }
}