.header_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__title{
    >a{
        display: inline-block;
        width: 100%;
        >img{
            width: 100%;
            height: 24px;
            @include Medium{
                // content: url("../../assets/img/logo-all-dark.svg");
                content: url('https://raw.githubusercontent.com/AbsintheSung/rocket_week3/96794343cf7abdbfe19f7bbd3698a5e7cd0077c3/assets/img/logo-all-dark.svg');
                height: 40px;
            }
        }
    }
}

#navbarBtn{
    display: none;
}
#navbarBtn:checked ~.header_nav {

    transform: translateY(0px);


}
.navbarStyle{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    &__line{
        position: absolute;
        width: 75%;
        height: 2px;
        background-color: $primary;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    &__line::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $primary;
        top: 4px;
    }
    &__line::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $primary;
        top:-4px;
    }
    @include Medium{
        display: none;
    }
}



.header_nav{
    position: absolute;
    top:100%;
    width: calc(100% - 60px);
    background-color: $secondary;
    padding: 12px 0px;
    @include Medium{
        position: relative;
        display: block;
        width: fit-content; //寬度 自適應內容
        background-color:$white;
        margin-left: auto;
        padding:0px;
        top:0px;
    }
}
.header_navlist{
    li:hover{
        background-color: $primary;
        >a{
            width: 100%;
            color: $secondary;
        }
       
    }
    li{
        padding: 0px 12px;
        >a{
            display: inline-block;
            font-weight: 600;
            color:$primary;
        }

    }
    li:nth-child(2){
        margin: 12px 0px;
    }
    @include Medium{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 80px;
        gap: 60px;
        li{
            padding: 0px;
        }
        li:nth-child(2){
            margin: 0px;
        }
        li:hover{
            background-color: $white;
            >a{
                color: $primary;
                border-bottom: 1px solid $primary;
            }
            
        }

    }

}



// 針對 nav到 手機版滑動效果
.header_container{
    >a{
        z-index: 3;
    }
    >.navbarStyle{
        z-index: 3;
    }
    .header__title{
        z-index: 3;
    }
}
.header_nav{
    transition: .5s;
    transform: translateY(-200px);
    z-index: 1;
    
    @include Medium{
        transition: 0s;
        transform: translateY(0px);
        z-index: 2;
    }
}

.nav_board{
    position: absolute;
    top:0;
    width: calc( 100% - 60px );
    height: 80%;
    background-color: $white;
    z-index: 2;
    @include Medium{
        display: none;
    }
}