.container{
    // max-width: 1320px;
    margin: 0px auto ;
    @include Phone{
        max-width: 100%;
    }
    @include Small{
        max-width: 575px;
    }
    @include Medium{
        max-width: 767px;
    }
    @include Large{
        // max-width: 992px;
        max-width: 940px;
    }
    @include XLarge{
        // max-width: 1200px;
    }
}
.container-fluid{
    width: 100%;
}