


//當 內容不足以 撐高到 使用者裝置 高度的時候，解決footer 無法置底問題，在最外層 加上新的div 並給予此class
.footer_Send_to_back{
    display: flex;
    flex-direction: column;
    // >footer{
    //     margin-top: auto;
    // }
    main{
        width: 100%;
    }
    @include Medium{
        height: 100dvh;
        >footer{
            margin-top: auto;
            // flex-grow: 1;
        }
    }
}


