.px-sm-30{
    padding-left: 30px ;
    padding-right: 30px;
    @include Medium{
        padding-left:0px ;
        padding-right:0px  ;
    }
}
.py-30{
    padding-top:30px;
    padding-bottom: 30px;
}

//當 內容不足以 撐高到 使用者裝置 高度的時候，解決footer 無法置底問題，在最外層 加上新的div 並給予此class
.pg_test{
    display: flex;
   
    flex-direction: column;
    // >footer{
    //     margin-top: auto;
    // }
    @include Small{
        height: 100dvh;
        >footer{
            margin-top: auto;
        }
    }
}