$primary:#3F5D45;
$primary-light:#8DA291;
$primary_opacity-8:rgba(63, 93, 69, 0.8);
$secondary:#EAF0ED;
$white:#FFFFFF;
$btn_color:#FFE180;
$btn_color_opacity-8:rgba(255, 225, 128, 0.8);
$btn-handle-color:#edc442;


