.invoice_form{
    width: 100%;
    background-color: $primary;
    @include Medium{
        width: 50%;
    }
}

.invoice_form_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px;
    h2{
        font-size: 36px;
        font-weight: 600;
        color:$secondary;
    }
    @include Medium{
        padding: 30px 40px 0px;
    }
}

.invoiceForm{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 30px;
    &__type{
        display: flex;
        align-items: center;
        column-gap: 1px;
        margin-bottom: 14px;
        border: 1px solid $secondary;
        >button{
            width: 50%;
            font-weight: 600;
            border: none;
            color:$secondary;
            background-color: $primary;
            font-size: 20px;
            padding: 14px 0px;
            cursor: pointer;
        }
    }
    .ectShow{
        display: none;
        .invoiceForm__email{
            margin-bottom: 16px;
            >label{
                display: block;
                margin-bottom: 8px;
                color:$secondary;
                font-size: 20px;
                font-weight: 600;
            }
            >input[type='email'] {
                width: 100%;
                padding: 16px;
                color: $primary;
                background-color: $secondary;
                border: none;
                border-radius: 0px;
            }
        }
        // .invoiceForm__uniform{
        //     >label{
        //         display: block;
        //         margin-bottom: 8px;
        //         color:$secondary;
        //         font-size: 20px;
        //         font-weight: 600;
        //     }
        //     >input[type='number'] {
        //         width: 100%;
        //         padding: 16px;
        //         color: $primary;
        //         background-color: $secondary;
        //         -moz-appearance: textfield;
        //         border: none;
        //         border-radius: 0px;
        //     }
        //     >input::-webkit-outer-spin-button,
        //     >input::-webkit-inner-spin-button {
        //         -webkit-appearance: none;
        //     }
        // }
    }
    .paperShow{
        display: none;
        .invoiceForm__address{
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            row-gap: 8px;
            // column-gap: 8px;
            margin-bottom: 16px;
            // >label{
            //     width: 100%;
            //     font-weight: 600;
            //     color:$secondary;
            //     font-size: 20px;
            // }
            &__title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                >label:first-child{
                    color:$secondary;
                    font-size: 20px;
                }
                >input[type="checkbox"]{
                    margin-left: auto;
                }
                >label:last-child{
                    color:$secondary;
                    font-size: 16px;
                }
            }
            &__select{
                display: flex;
                align-items: center;
                column-gap: 8px;
                // position: relative;
                >.areabox,.citybox{
                    width: 100%;
                    position: relative;
                    .city,.area{
                        position: relative;
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        width: 100%;
                        padding: 16px;
                        color: $primary;
                        background-color: $secondary;
                        border: none;
                        border-radius: 0px;
                    }
                }
                .citybox:after,
                .areabox:after{
                    content: '';
                    width: 0px;
                    height: 0px;
                    border: 5px solid;
                    position: absolute;
                    pointer-events: none;
                    top:10px;
                    right: 20px;
                    border-color: transparent  transparent $primary transparent;
                }
                .citybox::before,
                .areabox::before{
                    content: '';
                    width: 0px;
                    height: 0px;
                    border: 5px solid;
                    position: absolute;
                    pointer-events: none;
                    bottom:10px;
                    right: 20px;
                    z-index: 1;
                    border-color: $primary transparent transparent transparent;
                }
                
            }
    
            >input[type='text']{
                width: 100%;
                padding: 16px;
                color: $primary;
                background-color: $secondary;
                border: none;
                border-radius: 0px;
            }
        }

    }
    

    // 電子 郵遞 統編格式相同 不各別放在 etc 或paper區塊內
    .invoiceForm__uniform{
        >label{
            display: block;
            margin-bottom: 8px;
            color:$secondary;
            font-size: 20px;
            font-weight: 600;
        }
        >input[type='number'] {
            width: 100%;
            padding: 16px;
            color: $primary;
            background-color: $secondary;
            -moz-appearance: textfield;
            border: none;
            border-radius: 0px;
        }
        >input::-webkit-outer-spin-button,
        >input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    @include Medium{
        padding: 30px 40px;
    }
}


.invoiceForm_button{
    width: 100%;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    background-color:$btn-color;
    color:$primary;
    cursor: pointer;
}
.invoiceForm_button:hover{
    color: $secondary;
}

.btn_handle{
    background-color: $secondary !important;
    color: $primary !important;
}
