.payment_formContent{
    width: 100%;
    background-color: $primary;
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 30px 0px;
        h2{
            font-size: 36px;
            font-weight: 600;
            color:$secondary;
        }
    }
    @include Medium{
        width: 50%;
        &__title{
            padding: 30px 40px 0px;
        }
    }
}



.paymentForm{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    row-gap: 16px;
    padding: 30px;
    &__card{
        display: flex;
        flex-direction: column;
        position: relative;
        row-gap: 8px;
        >label{
            color:$secondary;
            font-size: 20px;
            // margin-bottom: 8px;
        }
        >input[type='text']{
            padding: 16px 20px;
            background-color: $secondary;
            color: $primary;
            border: none;
        }
        >.cardNumIcon{
            position: absolute;
            display: inline-block;
            top: 60%;
            right: 20px;
            color: $primary;
        }
    }
    &__userName{
        display: flex;
        align-items: center;
        column-gap: 10px;
        &__LastName,
        &__FirstName{
            display: flex;
            flex-direction: column;
            flex:1;
            >input[type='text'] {
                width: 100%;
                padding: 16px;
                color: $primary;
                background-color: $secondary;
                border: none;
                border-radius: 0px;
            }
            >label{
                color:$secondary;
                font-size: 20px;
                margin-bottom: 8px;
            }
        }
        &__FirstName{
            align-self: end;
        }

        
    }

    &__deadline{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        >label{
            color:$secondary;
            font-size: 20px;
        }
        &__select{
            display: flex;
            align-items: center;
            column-gap: 8px;
            .month,.year{
                width: 100%;
                padding: 16px;
                color: $primary;
                background-color: $secondary;
                border: none;
                border-radius: 0px;
            }
        }
        >input[type='text']{
            width: 100%;
            padding: 16px;
            color: $primary;
            background-color: $secondary;
            border: none;
            border-radius: 0px;
        }
    }
    &__security{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        >label{
            color:$secondary;
            font-size: 20px;
        }
        >input[type='text']{
            width: calc( 100% - 50% - 8px );
            padding: 16px;
            border: none;
            background-color: $secondary;
        }
    }
    @include Medium{
        padding: 30px 40px;
    }
}
.payment_button{
    width: 100%;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    background-color:$btn-color;
    color:$primary;
    cursor: pointer;
}
.payment_button:hover{
    color: $secondary;
}
