.timeline{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    &__item{
        position: relative;
        width: 16px;
        height: 16px;
        border: 1px solid $secondary;
        border-radius: 50%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        // background-color: $secondary;
    }
    

}

.timeline:before{
    content: '';
    position: absolute;
    top:50%;
    left:16px;
    transform: translateY(-50%);
    width: calc( ( 100% - ( 3 * 16px ) ) / 2);
    background-color: $secondary;
    height: 2px;
    
}
.timeline:after{
    width: calc( ( 100% - ( 3 * 16px ) ) / 2);
    content: '';
    position: absolute;
    top:50%;
    right: 16px;
    transform: translateY(-50%);
    background-color: $secondary;
    height: 2px;
}

//狀態樣式
.doingState{
    width: 12px;
    height: 12px;
    background-color: $secondary;
    border-radius: 50%;
}

.finishState:after{
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 1px solid $primary;
    border-bottom: 1px solid $primary;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%) rotate(40deg);
}

.payfinish:after{
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%) rotate(40deg);
}

.settle:before{
    background-color: $primary ;
}
.settle:after{
    background-color: $primary ;
}


// .timeline{
//     &__item:first-child:after{
//         content: '';
//         pointer-events: none;
//         position: absolute;
//         width: 12px;
//         height: 12px;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         background-color: $secondary;
//         border-radius: 50%;
//     }
// }