.transport_formContent{
    width: 100%;
    background-color: $primary;
    @include Medium{
        width: 50%;
    }
}

.formContent_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px;
    h2{
        font-size: 36px;
        font-weight: 600;
        color:$secondary;
    }
    @include Medium{
        padding: 30px 40px 0px;
    }
}

.transportForm{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 30px;
    &__userName{
        display: flex;
        align-items: center;
        column-gap: 10px;
        &__LastName,
        &__FirstName{
            display: flex;
            flex-direction: column;
            flex:1;
            >input[type='text'] {
                width: 100%;
                padding: 16px;
                color: $primary;
                background-color: $secondary;
                border: none;
                border-radius: 0px;
            }
            >label{
                color:$secondary;
                font-size: 20px;
                margin-bottom: 8px;
            }
        }

        
    }
    &__phone{
        >label{
            display: block;
            margin-bottom: 8px;
            color:$secondary;
            font-size: 20px;
        }
        >input[type='tel'] {
            width: 100%;
            padding: 16px;
            color: $primary;
            background-color: $secondary;
            border: none;
            border-radius: 0px;
        }
    }
    &__address{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        >label{
            color:$secondary;
            font-size: 20px;
        }
        >.select{
            display: flex;
            align-items: center;
            column-gap: 8px;
            .city,.area{
                width: 100%;
                padding: 16px;
                color: $primary;
                background-color: $secondary;
                border: none;
                border-radius: 0px;
            }
        }
        >input[type='text']{
            width: 100%;
            padding: 16px;
            color: $primary;
            background-color: $secondary;
            border: none;
            border-radius: 0px;
        }
    }
    @include Medium{
        padding: 30px 40px;
    }
}
.transportForm_button{
    width: 100%;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    background-color:$btn-color;
    color:$primary;
    cursor: pointer;
}
.transportForm_button:hover{
    color: $secondary;
}
