.test{
    // >img{
    //     height: 277px;
    //     object-fit: cover;
    // }
    background: url('https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=2725&q=80');
    width: 100%;
    padding-top: 277px;
    
    background-size: cover; /* 將背景圖片等比例放大以填滿整個容器 */
    // background-position: center; /* 將背景圖片置中 */
    background-repeat: no-repeat; /* 避免背景圖片重複顯示 */
}

.home_category{
    margin-bottom: 30px;
    &__bg{
        background: url('https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=2725&q=80');
        padding-top: 277px;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1px;
        >li{
            flex:1;
            background-size: cover;
            background-position: center; 
            background-repeat: no-repeat;
            >a{
                padding:40px 0px;
                display: flex; 
                justify-content: center; 
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                // color: $white;
                width: 100%;
                letter-spacing:5px;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
                background-color: $primary_opacity-8;
                color:$white;
                backdrop-filter:blur(5px);
            }
        }
        >li:first-child{
            background-image: url('https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=600&q=60');
        }
        >li:nth-child(2){
            background-image: url('https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=600&q=60');
        }
        >li:last-child{
            background-image: url('https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=600&q=60');
        }
        >li:hover{
            >a{
                background-color: $btn_color_opacity-8;
                color:$primary;
            }
        }
    }
    @include Medium{
        margin-bottom: 80px;
        &__bg{
            padding-top: 496px; 
        }
        &__list{
            padding: 0px 80px;
            >li{
                margin-top: -90px;
                >a{
                    padding:62px 0px;
                    font-size: 24px
                }
            }
        }
    }
}




.home_introduce{
    >ul{
        display: flex;
        flex-direction: column;
        row-gap:  30px;
   
    }
    >img{
        width: 100%;
        margin: 30px auto;
        height: 60px;
    }
    @include Medium{
        >ul{
            row-gap:  80px;
        }
        >img{
            content: url('https://raw.githubusercontent.com/AbsintheSung/rocket_week3/96794343cf7abdbfe19f7bbd3698a5e7cd0077c3/assets/img/home_ds_title3.svg');
            height: 328px;
            margin: 95px auto 80px auto;
        }
    }
}
.home_introduce__list{
    @include Medium{
        background-color: $secondary;
    }
}
.introduce__listItem{
    display: flex;
    flex-direction: column;
    &__imgcontent{
        background-color: $white;
        >img:first-child{
            height: 60px;
            width: 100%;
            margin: 0px auto;
            margin-bottom: 30px;
        }
        >img:last-child{
            width: 100%;
            height: 250px;
          
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__content{
        padding: 30px;
        background-color: $secondary;
        color:$primary-light;
        >img{
            display: none;
        }
    }

    @include Medium{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        height: 420px;
        &__imgcontent{
            width: 50%;
            >img:first-child{
                display: none;
            }
            >img:last-child{
                height: 460px;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0px;
            width: 50%;
            max-height: 280px;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            >img{
                display: block;
                height: 307px;
                margin-top: -85px;
                align-self: start;
            }
        }
    }
}
.home_introduce__list:nth-child(even){
    @include Medium{
        >.introduce__listItem{
            flex-direction: row-reverse;
        }
    }
}


.home_cardInfo{
    padding-bottom: 30px;
    @include Medium{
        padding-bottom: 60px;
    }
}
.home_cardlist{
    padding: 0px 30px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(1,1fr);
    @include Small{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
    }
    @include Medium{
        padding: 0px;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}
// .cardItem{
//     >.card_header{
//         >img{
//             width: 100%;
//             height: 312px;
//         }
//     }
//     >.card_body{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         >p{
           
//             padding: 16px 0px;
//             text-align: center;
//             color: $primary;
//         }
//         >p:first-child{
//             width: 57.5%;
//             border-left: 1px solid #EAF0ED;
//             border-right: 1px solid #EAF0ED;
//         }
//         >p:last-child{
//             width: 42.5%;
//             font-weight: 600 ;
//             border-right: 1px solid #EAF0ED;
//         }   
//     }
//     >.card_footer{
//         >button{
//             width: 100%;
//             border: none;
//             display: block;
//             text-align: center;
//             padding: 16px 0px;
//             font-size: 24px;
//             font-weight: 600;
//             color:$primary;
//             background-color: $secondary;
//         }
//     }
//     @include Medium{
//         >.card_header{
//             >img{
//                 height: 315px;
//             }
//         }
//     }
// }