.invoice_container{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0px;

    .invoice_form-etc{
        width: 100%;
        background-color: $primary;
    }

    @include Small{
        // padding-left: 30px;
        // padding-right: 30px;
    }
    @include Medium{
        column-gap: 20px;
        padding-top: 65px;
        padding-bottom: 65px;
        .invoice_form-etc{
            width: 50%;
        }
    }
    @include Large{
        padding-left: 26px;
        padding-right: 26px;
    }

    @include XLarge{
        padding-left: 42px;
        padding-right: 42px;
    }
}
