.transport_container{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0px;
    // .transport_formContent{
    //     width: 100%;
    //     // padding: 30px;
    //     background-color: $primary;
    // }
    // .transport_detail{
    //     display: none;
    // }
    @include Small{
        padding-left: 30px;
        padding-right: 30px;
    }
    @include Medium{
        column-gap: 20px;
        .transport_formContent{
            // width: 50%;
            // padding:30px 40px;
        }
        // .transport_detail{
        //     width: 33%;
        //     // height: 100%;
        //     display: flex;
        //     flex-direction: column;
        //     row-gap: 20px;
        // }
    }
    @include Large{
        padding-left: 26px;
        padding-right: 26px;
    }

    @include XLarge{
        padding-left: 42px;
        padding-right: 42px;
    }
}


// .formContent_title{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 30px 30px 0px;
//     h2{
//         font-size: 36px;
//         font-weight: 600;
//         color:$secondary;
//     }
//     @include Medium{
//         padding: 30px 40px 0px;
//     }
// }


// .transportForm{
//     display: flex;
//     flex-direction: column;
//     row-gap: 16px;
//     padding: 30px;
//     &__userName{
//         display: flex;
//         align-items: center;
//         column-gap: 10px;
//         &__LastName,
//         &__FirstName{
//             display: flex;
//             flex-direction: column;
//             flex:1;
//             >input[type='text'] {
//                 width: 100%;
//                 padding: 16px;
//                 color: $primary;
//                 background-color: $secondary;
//                 border: none;
//                 border-radius: 0px;
//             }
//             >label{
//                 color:$secondary;
//                 font-size: 20px;
//                 margin-bottom: 8px;
//             }
//         }

        
//     }
//     &__phone{
//         >label{
//             color:$secondary;
//             font-size: 20px;
//             margin-bottom: 8px;
//         }
//         >input[type='tel'] {
//             width: 100%;
//             padding: 16px;
//             color: $primary;
//             background-color: $secondary;
//             border: none;
//             border-radius: 0px;
//         }
//     }
//     &__address{
//         display: flex;
//         flex-direction: column;
//         row-gap: 8px;
//         >label{
//             color:$secondary;
//             font-size: 20px;
//         }
//         >.select{
//             display: flex;
//             align-items: center;
//             column-gap: 8px;
//             .city,.area{
//                 width: 100%;
//                 padding: 16px;
//                 color: $primary;
//                 background-color: $secondary;
//                 border: none;
//                 border-radius: 0px;
//             }
//         }
//         >input[type='text']{
//             width: 100%;
//             padding: 16px;
//             color: $primary;
//             background-color: $secondary;
//             border: none;
//             border-radius: 0px;
//         }
//     }
//     @include Medium{
//         padding: 30px 40px;
//     }
// }
// .transoirtForm_button{
//     width: 100%;
//     padding: 20px 0px;
//     font-size: 24px;
//     font-weight: 600;
//     border: none;
//     background-color:$btn-color;
//     color:$primary;
// }

// .transport_detail{
//     &__amount{

//         border: 1px solid $secondary;
//         >h2{
//             padding: 16px 0px;
//             font-size: 24px;
//             font-weight: 600;
//             background-color:$secondary ;
//             color:$primary-light;
//             text-align: center;
//         }
//         >ul{
//             padding: 16px 20px;
//             >li{
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 color:$primary-light;
//             }
//             >li:nth-child(2){
//                 margin: 8px 0px 16px;
//             }
//             >li:last-child{
//                 font-size: 20px;
//                 font-weight: 600;
//             }
//         }
//     }
//     &__item{
    
//         border: 1px solid $secondary;
//         >h2{
//             padding: 16px 0px;
//             font-size: 24px;
//             font-weight: 600;
//             background-color:$secondary ;
//             color:$primary-light;
//             text-align: center;
//         }
//     }
// }

// .transport_detailList{
//     padding: 20px 10px;

//     @include Large{
//         padding: 20px;

//     }
// }
// .transport_detailListItem{
//     display: flex;
//     align-items: center;
//     column-gap: 10px;
//     &__header{
//         width: 40%;
//         >img{
//             height: 80px;
//             width: 100%;
//         }
//     }
//     &__body{
//         width:60%;
//         color: $primary;
//         >.detail_name{
//             font-size: 14px;
//             font-weight: 300;
//         }
//         >.detail_price{
//             font-size: 18px;
//             font-weight: 600;
//         }
//     }
//     @include Large{
//         column-gap: 20px;
//         &__body{
//             width:60%;
//             >.detail_name{
//                 font-size: 16px;
//             }
//             >.detail_price{
//                 font-size: 20px;
//             }
//         }
//     }
// }